<!DOCTYPE html>
<html data-bs-theme="light" lang="es-us">
	<head>
		<%- include('templates/head')%>
		<script src="./js/control_users.js" defer></script>
		<title>Table - Brand</title>
	</head>

	<body id="page-top">
		<div id="wrapper">
			<%- include('templates/navbar')%>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					<nav
						class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
					>
						<div class="container-fluid">
							<button
								class="btn btn-link d-md-none rounded-circle me-3"
								id="sidebarToggleTop"
								type="button"
							>
								<i class="fas fa-bars"></i>
							</button>
							<h3 class="text-primary fw-bold m-0">
								Control de Usuarios
							</h3>
							<ul class="navbar-nav flex-nowrap ms-auto">
								<li class="nav-item dropdown no-arrow">
									<div class="nav-item dropdown no-arrow">
										<a
											class="dropdown-toggle nav-link"
											aria-expanded="false"
											data-bs-toggle="dropdown"
											href="#"
										>
											<span
												class="d-none d-lg-inline me-2 text-gray-600 small text-black fw-bold"
												><%= usuario ? usuario.nombre :
												"" %></span
											>
											<i
												class="fas fa-user"
												style="color: #4e73df"
											></i>
										</a>
										<div
											class="dropdown-menu shadow dropdown-menu-end animated--grow-in"
										>
											<!-- <a class="dropdown-item" href="#">
                                                <i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>
                                                Activity log
                                            </a>
                                            <div class="dropdown-divider"></div> -->
											<a
												class="dropdown-item"
												href="/logout"
											>
												<i
													class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"
												></i>
												Logout
											</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</nav>
					<div class="container-fluid">
						<h3 class="text-dark mb-4">Usuarios</h3>
						<div class="card shadow">
							<div class="card-header py-3">
								<p class="text-primary m-0 fw-bold">
									Información de Usuarios
								</p>
							</div>
							<div class="card-body">
								<div
									class="table-responsive table mt-2"
									id="dataTable"
									role="grid"
									aria-describedby="dataTable_info"
								>
									<table class="table my-0" id="dataTable">
										<thead>
											<tr>
												<th>Id</th>
												<th>Nombre</th>
												<th>Usuario</th>
												<th>Status</th>
												<th>Opciones</th>
											</tr>
										</thead>
										<tbody>
											<% usuarios.map((usuario) => { %>
											<tr>
												<td id="id_n<%= usuario.id %>"><%= usuario.id %></td>
												<td id="nombre_n<%= usuario.id %>"
												><%= usuario.nombre %></td>
												<td id="usuario_n<%= usuario.id %>"
												><%= usuario.usuario %></td>
												<td id="status_n<%= usuario.id %>"
												><%= usuario.status ?
													"Habilitado" :
													"Deshabilitado" %></td>
												<td>
													<a
														onclick="editarUsuario('<%= usuario.id %>')"
														class="btn btn-primary"
														>Editar</a>
													<a
														onclick="eliminarUsuario('<%= usuario.id %>')"
														class="btn btn-danger"
														>Eliminar</a>
												</td>
											</tr>
											<% }) %>
										</tbody>
										<tfoot>
											<tr>
												<th>Id</th>
												<th>Nombre</th>
												<th>Usuario</th>
												<th>Status</th>
												<th>Opciones</th>
											</tr>
										</tfoot>
									</table>
								</div>
								<div class="row">
									<div class="col-md-6 align-self-center">
										<p
											id="dataTable_info"
											class="dataTables_info"
											role="status"
											aria-live="polite"
										>
											Cantidad total de usuarios: <strong><%= usuarios.length %></strong>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('templates/footer') %>
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"
				><i class="fas fa-angle-up"></i
			></a>
		</div>
		<!-- *** Modal EDITAR -->
		<div
			class="modal fade"
			id="modalEditar"
			data-bs-backdrop="static"
			data-bs-keyboard="false"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<form
						action="/actualizarUsuario"
						id="formActualizarUsuario"
						method="post"
					>
						<div class="modal-header">
							<h1
								class="modal-title fs-5 text-primary"
								id="staticBackdropLabel"
							>
								<b>EDITAR USUARIO</b>
							</h1>
						</div>
						<div class="modal-body" id="modal_editar_body">
							<div class="mb-3">
								<label for="id_edit" class="form-label"
									>ID</label
								>
								<input
									type="number"
									class="form-control"
									id="id_edit"
									name="id"
									required
									readonly
								/>
							</div>
							<div class="mb-3">
								<label for="nombre_edit" class="form-label"
									>Nombre</label
								>
								<input
									type="text"
									class="form-control"
									id="nombre_edit"
									name="nombre"
									required
								/>
							</div>
							<div class="mb-3">
								<label for="usuario_edit" class="form-label"
									>Usuario</label
								>
								<input
									type="text"
									class="form-control"
									id="usuario_edit"
									name="usuario"
									required
								/>
							</div>
							<div class="row mb-3">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<label for="contrasena1_edit" class="form-label"
                                        >Nueva Contraseña</label
                                    >
									<input
										class="form-control form-control-user"
										type="password"
										id="contrasena1_edit"
										required
									/>
								</div>
								<div class="col-sm-6">
                                    <label for="contrasena2_edit" class="form-label"
                                        >Repita la Contraseña</label
                                    >
									<input
										class="form-control form-control-user"
										type="password"
										id="contrasena2_edit"
										name="contrasena"
										required
									/>
								</div>
							</div>
                            <div class="text-center mt-2">
                                <p id="message" class="lead"></p>
                            </div>
							<div class="input-group mb-3">
								<label class="input-group-text" for="status"
									>Status</label
								>
								<select
									class="form-select"
									id="status_edit"
									name="status"
								>
									<option value="1">Habilitado</option>
									<option value="0">Deshabilitado</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="submit"
								class="btn btn-success"
								data-bs-dismiss="modal"
                                id="btn_Editar"
							>
								Editar
							</button>
							<button
								type="reset"
								class="btn btn-danger"
								data-bs-dismiss="modal"
							>
								Cancelar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- ? Modal ELIMINAR -->
		<div
			class="modal fade"
			id="modalEliminar"
			data-bs-backdrop="static"
			data-bs-keyboard="false"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<form
						action="/eliminarUsuario"
						id="formEliminarUsuario"
						method="post"
					>
						<div class="modal-header">
							<h1
								class="modal-title fs-5 text-danger"
								id="staticBackdropLabel"
							>
								<b>ELIMINAR USUARIO</b>
							</h1>
						</div>
						<div class="modal-body" id="modal_eliminar_body">
							<div class="mb-3">
								<label for="id_delete" class="form-label"
									>ID</label
								>
								<input
									type="number"
									class="form-control"
									id="id_delete"
									name="id"
									required
									readonly
								/>
							</div>
							<div class="mb-3">
								<label for="nombre_delete" class="form-label"
									>Nombre</label
								>
								<input
									type="text"
									class="form-control"
									id="nombre_delete"
									name="nombre"
									required
									readonly
								/>
							</div>
							<div class="mb-3">
								<label for="usuario_delete" class="form-label"
									>Usuario</label
								>
								<input
									type="text"
									class="form-control"
									id="usuario_delete"
									name="usuario"
									required
                                    readonly
								/>
							</div>
							<div class="input-group mb-3">
								<label class="input-group-text" for="status_delete"
									>Status</label
								>
								<select
									class="form-select"
									id="status_delete"
									name="status"
                                    disabled
								>
									<option value="1">Habilitado</option>
									<option value="0">Deshabilitado</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="submit"
								class="btn btn-danger"
								data-bs-dismiss="modal"
							>
								Eliminar
							</button>
							<button
								type="reset"
								class="btn btn-secondary"
								data-bs-dismiss="modal"
							>
								Cancelar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
