<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
		<%- include('templates/readerHead')%>
		<title>Lector de Código de Barras</title>
        <script src="./js/reader.js" defer></script>
        <link rel="stylesheet" href="./css/barcode.css" type="text/css" />
	</head>

	<body id="page-top">
		<div id="wrapper">
			<nav
				class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
			>
				<div class="container-fluid d-flex flex-column p-0">
					<a
						class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
						href="#"
					>
						<div class="sidebar-brand-icon rotate-n-15">
							<i class="fas fa-laugh-wink"></i>
						</div>
						<div class="sidebar-brand-text mx-3">
							<span>Reader</span>
						</div>
					</a>
					<hr class="sidebar-divider my-0" />
					<ul class="navbar-nav text-light" id="accordionSidebar">
						<li class="nav-item">
							<a class="nav-link active" href="index.html"
								><i class="fas fa-tachometer-alt"></i
								><span>Lector</span></a
							>
						</li>
					</ul>
					<div class="text-center d-none d-md-inline">
						<button
							class="btn rounded-circle border-0"
							id="sidebarToggle"
							type="button"
						></button>
					</div>
				</div>
			</nav>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					<nav
						class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
					>
						<div class="container-fluid">
							<button
								class="btn btn-link d-md-none rounded-circle me-3"
								id="sidebarToggleTop"
								type="button"
							>
								<i class="fas fa-bars"></i>
							</button>
							<h3 class="text-dark mb-0">
								Lector de Código de Barras
							</h3>
                            <ul class="navbar-nav flex-nowrap ms-auto">
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow">
                                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span>
                                        <i class="fas fa-laugh" style="color: #4e73df;"></i>
                                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                            <a class="dropdown-item" href="#">
                                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> 
                                                Profile
                                            d</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i> Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i> Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i> Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
						</div>
					</nav>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 col-lg-5 col-xl-5">
								<div class="card shadow mb-4">
									<div
										class="card-header d-flex justify-content-between align-items-center"
									>
										<h6 class="text-primary fw-bold m-0">
											Registro de Productos
										</h6>
										<div class="dropdown no-arrow">
											<button
												class="btn btn-link btn-sm dropdown-toggle"
												aria-expanded="false"
												data-bs-toggle="dropdown"
												type="button"
											>
												<i
													class="fas fa-ellipsis-v text-gray-400"
												></i>
											</button>
											<div
												class="dropdown-menu shadow dropdown-menu-end animated--fade-in"
											>
												<p
													class="text-center dropdown-header"
												>
													dropdown header:
												</p>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Action</a
												><a
													class="dropdown-item"
													href="#"
													>&nbsp;Another action</a
												>
												<div
													class="dropdown-divider"
												></div>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Something else
													here</a
												>
											</div>
										</div>
									</div>
									<div class="card-body">
										<form
											action="/registrarProducto"
											id="formNuevoProducto"
											method="post"
										>
                                        <!-- INPUT INVISIBLE PARA EL ID DEL USUARIO -->
                                            <input
                                                type="hidden"
                                                name="usuario"
                                                value="<%= usuario.id %>"
                                            />
											<div class="mb-3">
												<label
													for="barcode"
													class="form-label"
													>Codigo de Barras</label
												>
												<input
													type="number"
													class="form-control"
													id="barcode"
													name="barcode"
                                                    placeholder="Escanear Codigo de Barras"
													required
												/>
											</div>
											<div class="mb-3">
												<label
													for="etiqueta"
													class="form-label"
													>Etiqueta</label
												>
												<input
													type="text"
													class="form-control"
													id="etiqueta"
													name="etiqueta"
                                                    placeholder="Etiqueta"
													required
												/>
											</div>
											<div class="mb-3">
												<div class="row">
													<label
														for="cantidad"
														class="form-label"
														>Cantidad</label
													>
													<div class="col">
														<input
															type="number"
															class="form-control"
															id="cantidad"
															name="cantidad"
															min="1"
															value="1"
															required
														/>
													</div>
													<div class="col">
														<button
															class="btn btn-success"
															id="btn_add"
														>
															+
														</button>
														<button
															class="btn btn-danger"
															id="btn_substract"
														>
															-
														</button>
													</div>
												</div>
											</div>
											<button
												type="submit"
												class="btn btn-primary"
											>
												Registrar
											</button>
											<button
												type="reset"
												class="btn btn-danger"
												id="btn_reset"
											>
												Limpiar
											</button>
										</form>
                                        <div class="container mt-3">
                                            <h5 class="text-warning text-center"><b><%= messages ? messages.producto ? messages.message + " | Etiqueta: " + messages.producto.etiqueta : messages.message : "" %></b></h5>
                                        </div>
									</div>
								</div>
								<div class="card shadow mb-4">
									<div
										class="card-header d-flex justify-content-between align-items-center"
									>
										<h6 class="text-primary fw-bold m-0">
											Productos
										</h6>
										<div class="dropdown no-arrow">
											<button
												class="btn btn-link btn-sm dropdown-toggle"
												aria-expanded="false"
												data-bs-toggle="dropdown"
												type="button"
											>
												<i
													class="fas fa-ellipsis-v text-gray-400"
												></i>
											</button>
											<div
												class="dropdown-menu shadow dropdown-menu-end animated--fade-in"
											>
												<p
													class="text-center dropdown-header"
												>
													dropdown header:
												</p>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Action</a
												><a
													class="dropdown-item"
													href="#"
													>&nbsp;Another action</a
												>
												<div
													class="dropdown-divider"
												></div>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Something else
													here</a
												>
											</div>
										</div>
									</div>
									<div class="card-body">
                                        <table class="table table-striped-columns mt-3">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Código</th>
                                                    <th scope="col">Producto</th>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">Usuario</th>
                                                    <th scope="col">Fecha Captura</th>
                                                    <th scope="col">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% productos.map((producto) => { %>
                                                    <tr>
                                                        <td id="codigo_n<%= producto.codigo %>"><%= producto.codigo %></td>
                                                        <td id="etiqueta_n<%= producto.codigo %>"><%= producto.etiqueta %></td>
                                                        <td id="cantidad_n<%= producto.codigo %>"><%= producto.cantidad %></td>
                                                        <td id="cantidad_n<%= producto.codigo %>"><%= producto.id_usuario %></td>
                                                        <td id="cantidad_n<%= producto.codigo %>"><%= producto.fecha_cap %></td>
                                                        <td><a onclick="editarProducto('<%= producto.codigo %>')" class="btn btn-primary">Editar</a><a onclick="eliminarProducto('<%= producto.codigo %>')" class="btn btn-danger mt-1">Eliminar</a></td>
                                                    </tr>    
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
								</div>
							</div>
							<div
								class="col-md-12 col-lg-7 col-xl-7 col-xxl-7 offset-lg-0"
							>
								<div class="card shadow mb-4">
									<div
										class="card-header d-flex justify-content-between align-items-center"
									>
										<h6 class="text-primary fw-bold m-0">
											Scanner
										</h6>
										<div class="dropdown no-arrow">
											<button
												class="btn btn-link btn-sm dropdown-toggle"
												aria-expanded="false"
												data-bs-toggle="dropdown"
												type="button"
											>
												<i
													class="fas fa-ellipsis-v text-gray-400"
												></i>
											</button>
											<div
												class="dropdown-menu shadow dropdown-menu-end animated--fade-in"
											>
												<p
													class="text-center dropdown-header"
												>
													dropdown header:
												</p>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Action</a
												><a
													class="dropdown-item"
													href="#"
													>&nbsp;Another action</a
												>
												<div
													class="dropdown-divider"
												></div>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Something else
													here</a
												>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="text-center small mt-2">
											<span class="me-2" id="label_detenido"
												><i
													class="fas fa-circle text-danger text-primary"
												></i
												>&nbsp;Detenido</span
											><span class="me-2" id="label_leyendo"
												><i
													class="fas fa-circle text-success"
												></i
												>&nbsp;Leyendo</span
											>
										</div>
                                        <div id="contenedor" class="mt-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="bg-white sticky-footer">
					<div class="container my-auto">
						<div class="text-center my-auto copyright">
							<span>Copyright © Reader 2023</span>
						</div>
					</div>
				</footer>
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"
				><i class="fas fa-angle-up"></i
			></a>
		</div>

        <!-- !Modal ERROR -->
		<div
            class="modal fade"
            id="modalError"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1
                            class="modal-title fs-5 text-danger"
                            id="staticBackdropLabel"
                        >
                            ERROR: <span id="modal_error"></span>
                        </h1>
                    </div>
                    <div class="modal-body" id="modal_error_body">...</div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"
                            onclick="location.reload()"
                        >
                            Recargar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** Modal EDITAR -->
		<div
            class="modal fade"
            id="modalEditar"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form
                        action="/actualizarProducto"
                        id="formActualizarProducto"
                        method="post"
                    >
                        <div class="modal-header">
                            <h1
                                class="modal-title fs-5 text-primary"
                                id="staticBackdropLabel"
                            >
                                <b>EDITAR PRODUCTO</b>
                            </h1>
                        </div>
                        <div class="modal-body" id="modal_editar_body">
                                <!-- INPUT INVISIBLE PARA EL ID DEL USUARIO -->
                                <input
                                    type="hidden"
                                    name="usuario"
                                    value="<%= usuario.id %>"
                                />
                                <div class="mb-3">
                                    <label
                                        for="barcode"
                                        class="form-label"
                                        >Codigo de Barras</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="barcode_edit"
                                        name="barcode"
                                        placeholder="Escanear Codigo de Barras"
                                        required
                                        readonly
                                    />
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="etiqueta"
                                        class="form-label"
                                        >Etiqueta</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="etiqueta_edit"
                                        name="etiqueta"
                                        placeholder="Etiqueta"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <label
                                            for="cantidad"
                                            class="form-label"
                                            >Cantidad</label
                                        >
                                        <div class="col">
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="cantidad_edit"
                                                name="cantidad"
                                                min="1"
                                                value="1"
                                                required
                                            />
                                        </div>
                                        <div class="col">
                                            <button
                                                type="button"
                                                class="btn btn-success"
                                                id="btn_add_edit"
                                            >
                                                +
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-danger"
                                                id="btn_substract_edit"
                                            >
                                                -
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button
                                type="submit"
                                class="btn btn-success"
                                data-bs-dismiss="modal"
                            >
                                Editar
                            </button>
                            <button
                                type="reset"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                >
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ? Modal ELIMINAR -->
		<div
            class="modal fade"
            id="modalEliminar"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form
                        action="/eliminarProducto"
                        id="formEliminarProducto"
                        method="post"
                    >
                        <div class="modal-header">
                            <h1
                                class="modal-title fs-5 text-danger"
                                id="staticBackdropLabel"
                            >
                                <b>ELIMINAR PRODUCTO</b>
                            </h1>
                        </div>
                        <div class="modal-body" id="modal_eliminar_body">
                                <div class="mb-3">
                                    <label
                                        for="barcode"
                                        class="form-label"
                                        >Codigo de Barras</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="barcode_delete"
                                        name="barcode"
                                        placeholder="Escanear Codigo de Barras"
                                        required
                                        readonly
                                    />
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="etiqueta"
                                        class="form-label"
                                        >Etiqueta</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="etiqueta_delete"
                                        name="etiqueta"
                                        placeholder="Etiqueta"
                                        readonly
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <label
                                            for="cantidad"
                                            class="form-label"
                                            >Cantidad</label
                                        >
                                        <div class="col">
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="cantidad_delete"
                                                name="cantidad"
                                                min="1"
                                                value="1"
                                                readonly
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                            >
                                Eliminar
                            </button>
                            <button
                                type="reset"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                >
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</body>
</html>
