<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
	<head>
		<%- include('templates/readerHead')%>
		<title>Lector de Código de Barras</title>
        <script src="./js/reader.js" defer></script>
        <link rel="stylesheet" href="./css/barcode.css" type="text/css" />
	</head>

	<body id="page-top">
		<div id="wrapper">
		    <%- include('templates/navbar')%>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					<nav
						class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
					>
						<div class="container-fluid">
							<button
								class="btn btn-link d-md-none rounded-circle me-3"
								id="sidebarToggleTop"
								type="button"
							>
								<i class="fas fa-bars"></i>
							</button>
							<h3 class="text-primary fw-bold m-0">
								Lector de Código de Barras
							</h3>
                            <ul class="navbar-nav flex-nowrap ms-auto">
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow">
                                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                            <span class="d-none d-lg-inline me-2 text-gray-600 small text-black fw-bold"><%= usuario.nombre %></span>
                                            <i class="fas fa-user" style="color: #4e73df;"></i>
                                        </a>
                                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                            <!-- <a class="dropdown-item" href="#">
                                                <i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>
                                                Activity log
                                            </a>
                                            <div class="dropdown-divider"></div> -->
                                            <a class="dropdown-item" href="/logout">
                                                <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
						</div>
					</nav>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 col-lg-7 col-xl-7">
								<div class="card shadow mb-4">
									<div
										class="card-header d-flex justify-content-between align-items-center"
									>
										<h6 class="text-primary fw-bold m-0">
											Registro de Productos
										</h6>
										<div class="dropdown no-arrow">
											<button
												class="btn btn-link btn-sm dropdown-toggle"
												aria-expanded="false"
												data-bs-toggle="dropdown"
												type="button"
											>
												<i
													class="fas fa-ellipsis-v text-gray-400"
												></i>
											</button>
											<div
												class="dropdown-menu shadow dropdown-menu-end animated--fade-in"
											>
												<p
													class="text-center dropdown-header"
												>
													dropdown header:
												</p>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Action</a
												><a
													class="dropdown-item"
													href="#"
													>&nbsp;Another action</a
												>
												<div
													class="dropdown-divider"
												></div>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Something else
													here</a
												>
											</div>
										</div>
									</div>
									<div class="card-body">
										<form
											action="/registrarProducto"
											id="formNuevoProducto"
											method="post"
										>
                                        <!-- INPUT INVISIBLE PARA EL ID DEL USUARIO -->
                                            <input
                                                type="hidden"
                                                name="usuario"
                                                value="<%= usuario.id %>"
                                            />
											<div class="mb-3">
												<label
													for="barcode"
													class="form-label"
													>Codigo de Barras</label
												>
												<input
													type="number"
													class="form-control"
													id="barcode"
													name="barcode"
                                                    placeholder="Escanear Codigo de Barras"
													required
                                                    autofocus
												/>
											</div>
											<div class="mb-3">
												<label
													for="etiqueta"
													class="form-label"
													>Etiqueta</label
												>
												<input
													type="text"
													class="form-control"
													id="etiqueta"
													name="etiqueta"
                                                    placeholder="Etiqueta"
													required
												/>
											</div>
											<div class="mb-3">
												<div class="row">
													<label
														for="cantidad"
														class="form-label"
														>Cantidad</label
													>
													<div class="col">
														<input
															type="number"
															class="form-control"
															id="cantidad"
															name="cantidad"
															min="1"
															value="1"
															required
														/>
													</div>
													<div class="col">
														<button
															class="btn btn-success"
															id="btn_add"
														>
															+
														</button>
														<button
															class="btn btn-danger"
															id="btn_substract"
														>
															-
														</button>
													</div>
												</div>
											</div>
											<button
												type="submit"
												class="btn btn-primary"
											>
												Registrar
											</button>
											<button
												type="reset"
												class="btn btn-danger"
												id="btn_reset"
											>
												Limpiar
											</button>
										</form>
                                        <div class="container mt-3">
                                            <h5 class="text-warning text-center"><b><%= messages ? messages.producto ? messages.message + " | Etiqueta: " + messages.producto.etiqueta : messages.message : "" %></b></h5>
                                        </div>
									</div>
								</div>
							</div>
							<div
								class="col-md-12 col-lg-5 col-xl-5 col-xxl-5 offset-lg-0"
							>
								<div class="card shadow mb-4">
									<div
										class="card-header d-flex justify-content-between align-items-center"
									>
										<h6 class="text-primary fw-bold m-0">
											Scanner
										</h6>
										<div class="dropdown no-arrow">
											<button
												class="btn btn-link btn-sm dropdown-toggle"
												aria-expanded="false"
												data-bs-toggle="dropdown"
												type="button"
											>
												<i
													class="fas fa-ellipsis-v text-gray-400"
												></i>
											</button>
											<div
												class="dropdown-menu shadow dropdown-menu-end animated--fade-in"
											>
												<p
													class="text-center dropdown-header"
												>
													dropdown header:
												</p>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Action</a
												><a
													class="dropdown-item"
													href="#"
													>&nbsp;Another action</a
												>
												<div
													class="dropdown-divider"
												></div>
												<a
													class="dropdown-item"
													href="#"
													>&nbsp;Something else
													here</a
												>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="text-center small mt-2">
											<span class="me-2" id="label_detenido"
												><i
													class="fas fa-circle text-danger text-primary"
												></i
												>&nbsp;Detenido</span
											><span class="me-2" id="label_leyendo"
												><i
													class="fas fa-circle text-success"
												></i
												>&nbsp;Leyendo</span
											>
										</div>
                                        <div id="contenedor" class="mt-2"></div>
									</div>
								</div>
							</div>
						</div>
                        <div class="card shadow mb-4">
                            <div
                                class="card-header d-flex justify-content-between align-items-center"
                            >
                                <h6 class="text-primary fw-bold m-0">
                                    Productos
                                </h6>
                                <div class="dropdown no-arrow">
                                    <button
                                        class="btn btn-link btn-sm dropdown-toggle"
                                        aria-expanded="false"
                                        data-bs-toggle="dropdown"
                                        type="button"
                                    >
                                        <i
                                            class="fas fa-ellipsis-v text-gray-400"
                                        ></i>
                                    </button>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-end animated--fade-in"
                                    >
                                        <p
                                            class="text-center dropdown-header"
                                        >
                                            dropdown header:
                                        </p>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            >&nbsp;Action</a
                                        ><a
                                            class="dropdown-item"
                                            href="#"
                                            >&nbsp;Another action</a
                                        >
                                        <div
                                            class="dropdown-divider"
                                        ></div>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            >&nbsp;Something else
                                            here</a
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped-columns mt-3">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Código</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Fecha Captura</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 
                                            productos.map((producto) => {
                                            producto.codigo = producto.codigo.replace(/ /g, "")
                                            let date = new Date(producto.fecha_cap)
                                        %>
                                            <tr>
                                                <td id="id_n<%= producto.id %>"><%= producto.id %></td>
                                                <td id="codigo_n<%= producto.codigo %>"><%= producto.codigo %></td>
                                                <td id="etiqueta_n<%= producto.codigo %>"><%= producto.etiqueta %></td>
                                                <td id="cantidad_n<%= producto.codigo %>"><%= producto.cantidad %></td>
                                                <td id="cantidad_n<%= producto.codigo %>"><%= producto.id_usuario %></td>
                                                <td id="cantidad_n<%= producto.codigo %>"><%= 
                                                    date.getFullYear() + "-" +
                                                    date.getMonth() + "-" +
                                                    date.getDate() + " " +
                                                    date.getHours() + ":" +
                                                    date.getMinutes() + ":" +
                                                    date.getSeconds()
                                                %></td>
                                                <td>
                                                    <a onclick="editarProducto('<%= producto.codigo %>')" class="btn btn-primary">Editar</a>
                                                    <a onclick="eliminarProducto('<%= producto.codigo %>')" class="btn btn-danger mt-1">Eliminar</a>
                                                </td>
                                            </tr>    
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
				</div>
				<%- include('templates/footer') %>
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"
				><i class="fas fa-angle-up"></i
			></a>
		</div>

        <!-- !Modal ERROR -->
		<div
            class="modal fade"
            id="modalError"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1
                            class="modal-title fs-5 text-danger"
                            id="staticBackdropLabel"
                        >
                            ERROR: <span id="modal_error"></span>
                        </h1>
                    </div>
                    <div class="modal-body" id="modal_error_body">...</div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"
                            onclick="location.reload()"
                        >
                            Recargar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** Modal EDITAR -->
		<div
            class="modal fade"
            id="modalEditar"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form
                        action="/actualizarProducto"
                        id="formActualizarProducto"
                        method="post"
                    >
                        <div class="modal-header">
                            <h1
                                class="modal-title fs-5 text-primary"
                                id="staticBackdropLabel"
                            >
                                <b>EDITAR PRODUCTO</b>
                            </h1>
                        </div>
                        <div class="modal-body" id="modal_editar_body">
                                <!-- INPUT INVISIBLE PARA EL ID DEL USUARIO -->
                                <input
                                    type="hidden"
                                    name="usuario"
                                    value="<%= usuario.id %>"
                                />
                                <div class="mb-3">
                                    <label
                                        for="barcode"
                                        class="form-label"
                                        >Codigo de Barras</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="barcode_edit"
                                        name="barcode"
                                        placeholder="Escanear Codigo de Barras"
                                        required
                                        readonly
                                    />
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="etiqueta"
                                        class="form-label"
                                        >Etiqueta</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="etiqueta_edit"
                                        name="etiqueta"
                                        placeholder="Etiqueta"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <label
                                            for="cantidad"
                                            class="form-label"
                                            >Cantidad</label
                                        >
                                        <div class="col">
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="cantidad_edit"
                                                name="cantidad"
                                                min="1"
                                                value="1"
                                                required
                                            />
                                        </div>
                                        <div class="col">
                                            <button
                                                type="button"
                                                class="btn btn-success"
                                                id="btn_add_edit"
                                            >
                                                +
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-danger"
                                                id="btn_substract_edit"
                                            >
                                                -
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button
                                type="submit"
                                class="btn btn-success"
                                data-bs-dismiss="modal"
                            >
                                Editar
                            </button>
                            <button
                                type="reset"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                >
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ? Modal ELIMINAR -->
		<div
            class="modal fade"
            id="modalEliminar"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form
                        action="/eliminarProducto"
                        id="formEliminarProducto"
                        method="post"
                    >
                        <div class="modal-header">
                            <h1
                                class="modal-title fs-5 text-danger"
                                id="staticBackdropLabel"
                            >
                                <b>ELIMINAR PRODUCTO</b>
                            </h1>
                        </div>
                        <div class="modal-body" id="modal_eliminar_body">
                                <div class="mb-3">
                                    <label
                                        for="barcode"
                                        class="form-label"
                                        >Codigo de Barras</label
                                    >
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="barcode_delete"
                                        name="barcode"
                                        placeholder="Escanear Codigo de Barras"
                                        required
                                        readonly
                                    />
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="etiqueta"
                                        class="form-label"
                                        >Etiqueta</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="etiqueta_delete"
                                        name="etiqueta"
                                        placeholder="Etiqueta"
                                        readonly
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <label
                                            for="cantidad"
                                            class="form-label"
                                            >Cantidad</label
                                        >
                                        <div class="col">
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="cantidad_delete"
                                                name="cantidad"
                                                min="1"
                                                value="1"
                                                readonly
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                            >
                                Eliminar
                            </button>
                            <button
                                type="reset"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                >
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</body>
</html>
